@model IEnumerable<PublicApiExercise.Models.Actor>

@{ 
    var last = Model.Last();
    foreach (var item in Model)
    {
                <a href="#">@item.TmdbMuviNo</a>@if (item.Equals(last) == false) { <span>, </span> };
        }
    }